/target/
**/target/

Cargo.lock
**/Cargo.lock

/build/
/dist/
/node_modules/
**/node_modules/

**/tests/fixtures
**/tests/**/fixtures
__test_files__/
**/__test_files__/
__tests__/
**/__tests__/

__fixtures__/
**/__fixtures__/
